.homepage {

  &-header {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 1rem 0;
    padding: 0 2rem;
    border: 1px solid #666;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url('/storage/graphics/ct-background.jpg');

    & h1 {
      font-size: 2.4rem;
      line-height: 2.8rem;
      margin: 1rem 0 0 0;
      font-weight: bold;
    }

    & p {
      padding: 0 0.5rem;
    }
  }

  @media(min-width: $small-screen) {

    &-header {
      margin: 0 0 1rem 0;
    }

  }
}