.text {

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-bold {
    font-weight: bold;
  }

  &-white {
    color: #fff;
  }

  &-xxs {
    font-size: 0.7rem;
  }

  &-xs {
    font-size: 0.8rem;
  }

  &-sm {
    font-size: 0.9rem;
  }

  &-md {
    font-size: 1rem;
  }

  &-lg {
    font-size: 1.1rem;
  }

  &-xl {
    font-size: 1.2rem;
  }

  &-xxl {
    font-size: 1.3rem;
  }
}
