$basename: '.w';
$cssName: width;
$variants: ('');

$start: 0;
$end: 30;
$prefix: '-';
$interval: 0.25;
$unit: rem;


@each $variant in $variants {

  @for $x from $start through $end {

    #{$basename}#{str-slice($variant, 0 , 1)}#{$prefix}#{$x} {

      @if ($variant == '') {
        #{$cssName}: ($interval * $x) + #{$unit};
      }
    }
  }
}


.w {
  &-100, &-12\/12, &-full {
    width: 100%;
  }

  &-1\/12 {
    width: percentage(1 / 12);
  }

  &-2\/12, &-1\/6 {
    width: percentage(2 / 12);
  }

  &-3\/12, &-1\/4, &-25 {
    width: percentage(3 / 12);
  }

  &-4\/12, &-1\/3, &-33 {
    width: percentage(4 / 12);
  }

  &-5\/12 {
    width: percentage(5 / 12);
  }

  &-6\/12, &-3\/6, &-1\/2, &-2\/4, &-50 {
    width: percentage(6 / 12);
  }

  &-7\/12 {
    width: percentage(7 / 12);
  }

  &-8\/12, &-2\/3, &-66 {
    width: percentage(8 / 12);
  }

  &-9\/12, &-3\/4, &-75 {
    width: percentage(9 / 12);
  }

  &-10\/12 {
    width: percentage(10 / 12);
  }


  &-11\/12 {
    width: percentage(11 / 12);
  }
}